AutomapperCustom/LastMajorVersionBinary/
AutomapperCustom/AutoMapperSourceProject/obj/
AutomapperCustom/AutoMapperSourceProject/bin/
AutomapperCustom/AutomapperCustom/obj/
AutomapperCustom/AutomapperCustom/bin/
AutomapperCustom/.vs/
AutomapperCustom/packages/
